#Litex install folders
litedram/
liteeth/
litehyperbus/
liteiclink/
litejesd204b/
litepcie/
litesata/
litescope/
litesdcard/
litespi/
litex-boards/
migen/
pythondata-cpu-lm32/
pythondata-cpu-mor1kx/
pythondata-cpu-serv/
pythondata-cpu-vexriscv-smp/
pythondata-cpu-vexriscv/
pythondata-misc-tapcfg/
pythondata-misc-usb_ohci/
pythondata-software-compiler_rt/
pythondata-software-picolibc/
riscv64-unknown-elf-gcc-8.3.0-2019.08.0-x86_64-linux-ubuntu14.tar.gz
riscv64-unknown-elf-gcc-8.3.0-2019.08.0-x86_64-linux-ubuntu14/

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
